# Django
SECRET_KEY=change-this-to-a-long-random-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8000,http://127.0.0.1:8000

# PostgreSQL inside Docker Compose
DB_NAME=infosec_portal
DB_USER=infosec_app
DB_PASSWORD=admin123
DB_HOST=db
DB_PORT=5432

# Email verification
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-gmail-app-password
EMAIL_VERIFICATION_DEV_BYPASS=true
